.loginFormElem{
	border: 1px solid #3b5998;
	width: 200px;
	margin: 10px 250px auto;
	padding: 2px;
}

#loginFormButton{
	width: 160px;
	margin: 20px 270px auto;
}

.loginFormRefBlock{
	margin: 20px auto;
}

.loginFormRef{
	margin: 0 20px 0 250px;
}

.userRegFormElem{
	border: 1px solid #3b5998;
	width: 200px;
	margin: 10px 228px auto;
	padding: 2px;
}

#userRegFormButton{
	width: 160px;
	margin: 20px 250px auto;
}

.userRegFormRefBlock{
	margin: 40px auto;
}

.userRegFormRef{
	margin: 0 20px 0 230px;
}

.profileFormElem{
	border: 1px solid #3b5998;
	width: 200px;
	margin: 10px 0px auto;
	padding: 2px;
}

.profileFormElemComment{
	border: 1px solid #3b5998;
	width: 376px;
	margin: 10px 0px auto;
	padding: 2px;
	resize: vertical;
}

.profileFormElemReadonly{
	background-color: #eeeeee;
}

.profileFormCheckbox{
	border: 1px solid #3b5998;
	width: 20px;
	margin: 20px 0px 0px 0px;
}

#profileFormButton{
	width: 160px;
	margin: 20px 0px 20px 0;
}

.profileFormBlock{
	margin: 20px 0px 0px 260px;
	width: 210px;
	float: left;
}

.jQueryUi{
	display:none;
}
